.locationList {
    height: 85vh;
    overflow: auto;
}

@media (max-width: 64em) {
    .locationList {
        max-height: 30vh;
        margin-bottom: 20px;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forecast-title {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 55% !important;
    height: 90px !important;
    background: #6cf;
    margin-top: calc(5% + 60px);
}

.footer>h4 {
    color: antiquewhite;
}